<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({
		
		appToken: '{{appToken}}',
		customText: {
        headerText: 'Wie kann ich Ihnen helfen?',
        inputPlaceholder: 'Nachricht eingeben...',
        sendButtonText: 'Senden',
        introText: 'Hallo, ich bin BuzzBot.Frag mich was!',
        messageError: 'Upps, es gab gerade einen Fehler beim Versenden der Nachricht. Bitte versuch es noch einmal.',
        invalidFileError: 'Sorry, es werden momentan nur Bilder in diesen Formaten unterstützt: jpg, jpeg, png, gif, oder bmp.',
        messageIndicatorTitleSingular: '({count}) Neue Nachricht',
        messageIndicatorTitlePlural: '({count}) Neue Nachrichten'
    }
		
		});
    </script>
</head>
<body>
    <h2>BuzzBot Demo</h2>
	<p>Have a look at the bottom right. Talk to me :)</p>
	
</body>
</html>