<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>BuzzBot Demo</h2>
	<p>Have a look at the bottom right. Talk to me :)</p>
	
</body>
</html>